 p
 {
    color: blue;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    text-decoration:clignotant;
 }
 .into{
  color:blueviolet;
  font-size: 40px; 
  font-style:italic;
  font-weight:bold;
  text-decoration:underline;
 }
 .maphoto{
   float:left;
 }
 body{
   background-color:chocolate;
 }